.header{
    background-color: orange;
}
.nav-items{
    display: flex;
    gap:20px;
}
.nav-items a{
    text-decoration: none;
    color: white;
    font:bold;
    font-size: 32px;
}
.nav-items a:hover{
    color: black;
}

.searchInput {
  width: 220px;
  padding: 8px 10px 8px 35px; /* left padding for icon */
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;

  /* search icon */
  background-image: url("https://cdn-icons-png.flaticon.com/512/622/622669.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 10px center;
}