#header{
  background-color: cadetblue;
  justify-content: space-around;
}
.nav-items {
  display: flex;
}
.nav-items > li {
  list-style-type: none;
  padding: 15px;
  margin: 15px;
  font-size: 30px;
}
.logo{
  width: 15px;
  height: 15px;
}
.product {
  height: 150px;
  width: 150px;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}