#navbar{
    border: 2px solid blue;
    height: 60px;
    width: 100%;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    gap: 100px;
}